<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro</title>
    <link href="/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <section id="cadastro">
      <form method="post" action="/cadastro">
        <fieldset id="field_main">
          <legend>Cadastre seu Pokemon</legend>

          <fieldset>
            <input required type="text" name="name"/>
            <label for="name"> Nome: </label>
          </fieldset>

          <fieldset>
            <input required type="text" name="height" />
            <label for="height"> Altura(m): </label>
          </fieldset>

          <fieldset>
            <input required type="text" name="weight" />
            <label for="weight"> Peso(kg): </label>
          </fieldset>

          <fieldset>
            <input required type="text" name="gender" />
            <label for="gender"> Genero: </label>
          </fieldset>

          <fieldset>
            <input required type="text" name="category" />
            <label for="category"> Categoria: </label>
          </fieldset>

          <fieldset>
            <input required type="text" name="abilites" />
            <label for="abilites"> Habilidades: </label>
          </fieldset>
         
          <fieldset>
            <input required placeholder="Separe os tipos com virgula e espaço" type="text" name="type1" />
            <label for="type1"> Tipo: </label>
          </fieldset>

          <fieldset>
              <input required placeholder="Separe os tipos com virgula e espaço" type="text" name="weakness1" />
              <label for="weakness1"> Ele é fraco contra: </label>
          </fieldset>       
                  
          <fieldset>
            <input required type="url" name="image" />
            <label for="image"> Link da Imagem: </label>
          </fieldset>

          <button type="submit">ENVIAR</button>
        </fieldset>
      </form>
    </section>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
